<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABCOLLECTION</title>
</head>
<body>
    <header>
    <div class="anuncios">
        <div class="div_anuncio">
            <h1>ANUNCIOANUNCIOANUNCIO</h1>
        </div>
    </div>
    

    <div class="buscas">
        <div class="buscas1">
            <img src="">
            <form action="/buscar" method="GET">
                <input type="search" name="busca" placeholder="DIGITE O NOME DO PRODUTO">
                <button type="submit">BUSCAR</button>
                <img src="">
            </form>
       </div>
       
        <nav class="menu-principal">
            <a href="#novidades" class="novidades">NOVIDADES</a>
            <a href="#novidades" class="novidades">NOVIDADES</a>
            <a href="#novidades" class="novidades">NOVIDADES</a>
            <a href="#novidades" class="novidades">NOVIDADES</a>
        
        </nav>
       
    </div>
</header>
<div class="img_principal">
    <img src="">
    <div class="text_button">
        <h1>texttext</h1>
        <button>botão</button>
    </div>
</div>

<div class="produtos">
    <h1>TEXT</h1>
    <div id="lista-produtos"></div>
</div>
    
<div class="sobre-nos">
    
</div>

</body>
</html>